* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}


body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .1fr 4.4fr;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #122D40;
    color: white
}

#gameBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

#rotate{
   position: absolute;
   margin-top: 75vh;
   height: 4vmin;
   width: 10vmin;
}

#rotate:hover{
    position: absolute;
    margin-top: 75vh;
    background-color: pink;
    color: white;
    height:4vmin;
    width: 10vmin;
 }


#human, #comp, #resetBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

table{
    border-collapse: collapse;
    border: 5px solid black;
    cursor: crosshair;
}

tr{
    display: flex;
}

td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vmin;
    height: 6vmin;
    border: 1px solid black;
    margin: 0;
    color: lightblue;
}

#highlight{
    background-color: lightgray;
}

@media only screen and (max-width: 800px){
    * {
        box-sizing: border-box;
    }
    
    
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr 4fr;
        margin: 0;
        height: 100vh;
        width: 100vw;
        background-color: #122D40;
        color: white
    }

    #gameBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #rotate{
        position: relative;
        margin-top: 0;
        height: 5vmin;
        width: 30vmin;
     }
     
     #rotate:hover{
         position: fixed;
         margin-top: 0;
         background-color: pink;
         color: white;
         height:5vmin;
         width: 30vmin;
      }
    
    
     #human, #comp, #resetBody {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }
    
    table{
        border-collapse: collapse;
        border: 5px solid black;
        cursor: crosshair;
    }
    
    tr{
        display: flex;
    }
    
    td{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8vmin;
        height: 8vmin;
        border: 1px solid black;
        margin: 0;
        color: lightblue;
    }
}
